<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">
</head>
<body>
    <header>
        <div class="top-header">
            <div class="container">
                <ul class="top-header-links">
                    <li><a href="#business">Покупайте для бизнеса</a></li>
                    <li><a href="#suppliers">Для производителей</a></li>
                    <li><a href="#restaurants">Ресторанам</a></li>
                </ul>
                <div class="top-header-contact">
                    <span>+7 800 222-11-00</span>
                    <span class="every">Круглосуточно</span>
                </div>
            </div>
        </div>
        <nav class="navbar">
            <div class="container">
                <a href="{{ url_for('index') }}" class="logo">КебабХаус</a>
                <ul class="nav-links">
                    <li><a href="#home">Главная</a></li>
                    <li><a href="#menu">Меню</a></li>
                </ul>
                <div class="auth-cart">
                    {% if current_user.is_authenticated %}
                        <a href="{{ url_for('logout') }}" class="auth-btn">Выйти</a>
                    {% else %}
                        <a href="{{ url_for('login') }}" class="auth-btn">Войти</a>
                    {% endif %}
                    <a href="cart.html" class="cart-btn">Корзина</a>
                </div>
            </div>
        </nav>
    </header>
    <footer>
    </footer>
</body>
</html>
